<%= form_with model: @movie do |f| %>
<div>
    <%= f.label :title, 'Título:' %>
    <%= f.text_field :title %>
</div>
<div>
    <%= f.label :year, 'Ano:' %>
    <%= f.text_field :year %>
</div>
<div>
    <%= f.label :synopsis, 'Sinopse:' %>
    <%= f.text_area :synopsis %>
</div>
<div>
    <%= f.label :country, 'País:' %>
    <%= f.text_field :country %>
</div>
<div>
    <%= f.label :length, 'Duração (min):' %>
    <%= f.number_field :length %>
</div>
<div>
    <%= f.label :director, 'Diretor:' %>
    <%= f.collection_select :director_id, Director.all, :id, :name %>
</div>
<div>
    <%= f.label :gender, 'Gênero:' %>
    <%= f.collection_select :gender_id, Gender.all, :id, :name %>
</div>
<div>
    <%= f.label :poster, 'Poster:' %>
    <%= f.file_field :poster %>
</div>
<div class="field">
    <%= f.label :status, 'Status:' %>
    <%= f.check_box :status, { checked: @movie.launched? } %> Lançado
</div>
<div>
    <%= f.submit 'Salvar' %>
</div>
<% end %>