<%= link_to 'Editar gênero', edit_gender_path %>

<h1> Gênero: <%= @gender.name %> </h1>
<h3> Filmes de <%= @gender.name %>:</h3>

<% if @movies.any? %>
  <ul>
    <% @movies.each do |movie| %>
      <li>
        <% if movie.poster.attached? %>
        <%= image_tag url_for(movie.poster), style: "width: 50px; height: auto;" %>
      <% end %>
      <%= link_to movie.title, movie_path(movie) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Não há filmes para esse gênero.</p>
<% end %>